/**
 * Project: Adrienn Besze Watercolors
 * Author: Lujan Fernaud
 * Typographic Scale: 1.2 - http://www.modularscale.com/?20&px&1.2&web&text
 */


/* Initial Settings and Helper Classes
  ====================================================== */


body {
  font-family: Georgia, serif;
  font-size: 16px;
  background-color: #921b27;
}
@media (min-width: 1199px) {
  body {
    font-size: 18px;
  }
}

h2,
.h2 {
  margin-top: 0.771em;
  margin-bottom: 0.385em;
}
p {
  margin-bottom: 0.666em;
}
a {
  color: #000;
}
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}

/* Header
  ====================================================== */


.cover {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #921b27;
}

.cover-inner {
  vertical-align: middle;
}

.cover-container {
  margin-left: auto;
  margin-right: auto;
}

.img-logo {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 50%;
}


/* Main
  ====================================================== */


.grid-container {
  padding-left: 5%;
  padding-right: 5%;
}
@media (min-width: 767px) {
  .grid-container {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media (min-width: 991px) {
  .grid-container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

.painting {
  margin-bottom: 7%;
  padding: 6%;
  background-color: #fff;
  padding-bottom: 5.22%;
}
@media (min-width: 767px) {
  .painting {
    margin-bottom: 30px; /* Same as gutter between paintings */
  }
}
.painting__title {
  font-size: 1.44em;
  font-style: italic;
}
.painting__medium {
  font-family: Verdana, sans-serif;
  font-size: 0.833em;
}
.painting__dimensions {
  margin-bottom: 0;
  font-family: Verdana, sans-serif;
  font-size: 0.833em;
}


/* Blueimp's Image Gallery modifications
  ====================================================== */


.blueimp-gallery > .title {
  max-width: 65%;
  top: 18px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.333em;
  text-align: center;
  opacity: 1;
  transition: all 0.2s ease;
  z-index: 9999999;
}
.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  width: 80px;
  height: 80px;
  font-size: 42px;
  line-height: 60px;
  background: none;
  border: none;
  transition: all 0.2s ease;
  z-index: 9999999;
}
.blueimp-gallery > .close {
  height: 34px;
  left: 15px;
  right: auto;
  margin: auto;
  font-size: 12px;
  line-height: 1;
  text-shadow: none;
  text-decoration: none;
  cursor: pointer;
  z-index: 9999999;
  padding: 9px 12px 6px 12px;
}
.blueimp-gallery > .btn-close {
  background: none;
  opacity: 0.8;
  color: #FFF;
  border: none;
}
.blueimp-gallery > .btn-close:hover {
  color: #000;
  background: #FFF;
  opacity: 1;
}
.blueimp-gallery > .btn-share,
.blueimp-gallery > .btn-gallery {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #FFF;
  background: none;
  opacity: 0.8;
  z-index: 9999999;
}
.blueimp-gallery > .btn-gallery {
  right: auto;
  left: 65px;
}
.blueimp-gallery > .btn-share:hover,
.blueimp-gallery > .btn-gallery:hover {
  color: #000;
  background: #FFF;
  opacity: 1;
}
.blueimp-gallery-controls > .btn-share,
.blueimp-gallery-controls > .btn-gallery {
  display: block;
  /* Fix z-index issues (controls behind slide element) on Android: */
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
}
.blueimp-gallery > .slides > .slide > .slide-content {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 87%;
  opacity: 1;
}
.blueimp-gallery {
  background: #0C0404;
}
.blueimp-gallery > .indicator > li {
  width: 10px;
  height: 10px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

/* Blueimp's IG: Resize image to always have space on top and bottom */

.blueimp-gallery > .slides > .slide > .slide-content {
  max-height: 68%;
}
.blueimp-gallery > .title {
  max-width: 40%;
}
@media (min-width: 639px) {
  .blueimp-gallery > .slides > .slide > .slide-content {
    max-height: 80%;
  }
}
/*@media (max-height: 550px) {
  .blueimp-gallery > .slides > .slide > .slide-content {
    max-height: 68%;
  }
}*/
